.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-container .day {
  width: 150px;
  background-color: cadetblue;
}

.weather-container .day h4 {
  margin: 0;
  padding:  10px;
}

.weather-container .today {
  background-color: bisque;
}

.current {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
}